body {
    background-color: lightgrey;
}

h1 {
    text-align: center;
    font-family: 'Roboto Mono', cursive ;
}

img {
    align-items: center ;
    text-align: center ;
    display: block;
    margin-left: auto;
    margin-right: auto
}

h2 {
    text-align: center;
    font-family: 'Anton', cursive ;
}
h3 {
    text-align: center;
    font-family: 'Goldman', cursive ;
}




@import url('https://fonts.google.com/specimen/Roboto+Mono');
@import url('https://fonts.google.com/specimen/Goldman');
@import url('https://fonts.google.com/specimen/Anton');